@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
/* line 1, ../../assets/sass/_clearfix.sass */
.group:before, .group:after {
  content: "";
  display: table;
}

/* line 5, ../../assets/sass/_clearfix.sass */
.group:after {
  clear: both;
}

/* line 8, ../../assets/sass/_clearfix.sass */
.group {
  zoom: 1;
}

/* line 106, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1em;
}

/* line 11, ../../assets/sass/_typography.sass */
body, p, span, div {
  font-family: "Lato", sans-serif;
}

/* line 14, ../../assets/sass/_typography.sass */
h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

/* line 17, ../../assets/sass/_typography.sass */
h1 {
  font-size: 2.77778em;
  line-height: 1.08em;
}
@media (max-width: 600px) {
  /* line 17, ../../assets/sass/_typography.sass */
  h1 {
    font-size: 2.22222em;
    line-height: 1.35em;
  }
}

/* line 22, ../../assets/sass/_typography.sass */
h2 {
  font-size: 2.22222em;
  line-height: 1.35em;
}
@media (max-width: 600px) {
  /* line 22, ../../assets/sass/_typography.sass */
  h2 {
    font-size: 2em;
    line-height: 1.5em;
  }
}

/* line 27, ../../assets/sass/_typography.sass */
h3 {
  font-size: 1.66667em;
  line-height: 1.2em;
}
@media (max-width: 600px) {
  /* line 27, ../../assets/sass/_typography.sass */
  h3 {
    font-size: 1.33333em;
    line-height: 1.5em;
  }
}

/* line 32, ../../assets/sass/_typography.sass */
h4 {
  font-size: 1.33333em;
  line-height: 1.5em;
}
@media (max-width: 600px) {
  /* line 32, ../../assets/sass/_typography.sass */
  h4 {
    font-size: 1.11111em;
    line-height: 1.8em;
  }
}

@media (max-width: 600px) {
  /* line 37, ../../assets/sass/_typography.sass */
  p {
    font-size: 0.9em;
    line-height: 2.22222em;
  }
}

/* line 41, ../../assets/sass/_typography.sass */
.center-text {
  text-align: center;
}

/* line 44, ../../assets/sass/_typography.sass */
.skill-subtext {
  font-size: 8px;
  line-height: 11px;
}

/* line 49, ../../assets/sass/_typography.sass */
p.skill-header {
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 600px) {
  /* line 49, ../../assets/sass/_typography.sass */
  p.skill-header {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (max-width: 450px) {
  /* line 49, ../../assets/sass/_typography.sass */
  p.skill-header {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 340px) {
  /* line 49, ../../assets/sass/_typography.sass */
  p.skill-header {
    font-size: 12px;
    line-height: 12px;
  }
}

/* line 5, ../../assets/sass/_sprites.sass */
i {
  background: url('../img/icons-sa9056c06d4.png');
  display: inline-block;
}

/* line 10, ../../assets/sass/_sprites.sass */
.icon-twitter {
  background-position: 0 -30px;
  height: 30px;
  width: 30px;
}

/* line 10, ../../assets/sass/_sprites.sass */
.icon-github {
  background-position: 0 0;
  height: 30px;
  width: 30px;
}

/* line 10, ../../assets/sass/_photos.sass */
#photos {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
}

/* line 15, ../../assets/sass/_photos.sass */
.photo {
  max-width: 100%;
  position: absolute;
  left: 0;
  -moz-transition: opacity 1s, ease-in-out;
  -o-transition: opacity 1s, ease-in-out;
  -webkit-transition: opacity 1s, ease-in-out;
  transition: opacity 1s, ease-in-out;
}

/* line 22, ../../assets/sass/_photos.sass */
#photos img:nth-of-type(1) {
  animation-delay: 16s;
}
/* line 24, ../../assets/sass/_photos.sass */
#photos img:nth-of-type(2) {
  animation-delay: 12s;
}
/* line 26, ../../assets/sass/_photos.sass */
#photos img:nth-of-type(3) {
  animation-delay: 8s;
}
/* line 28, ../../assets/sass/_photos.sass */
#photos img:nth-of-type(4) {
  animation-delay: 4s;
}
/* line 30, ../../assets/sass/_photos.sass */
#photos img:nth-of-type(5) {
  animation-delay: 0s;
}

/* line 34, ../../assets/sass/_photos.sass */
.photo {
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 21s;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  19.04762% {
    opacity: 1;
  }
  23.80952% {
    opacity: 0;
  }
  95.2381% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 14, ../../assets/sass/style.sass */
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 19, ../../assets/sass/style.sass */
#site-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
#site-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 600px) {
  /* line 19, ../../assets/sass/style.sass */
  #site-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  #site-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 24, ../../assets/sass/style.sass */
#intro-text {
  border-bottom-width: 0.11111em;
  border-bottom-style: solid;
  padding-bottom: 0.88889em;
}

/* line 27, ../../assets/sass/style.sass */
#contact {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 31, ../../assets/sass/style.sass */
.enforce-aspect {
  padding-top: 100%;
}
