@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
/* line 1, ../../assets/sass/_clearfix.sass */
.group:before, .group:after {
  content: "";
  display: table;
}

/* line 5, ../../assets/sass/_clearfix.sass */
.group:after {
  clear: both;
}

/* line 8, ../../assets/sass/_clearfix.sass */
.group {
  zoom: 1;
}

/* line 106, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1em;
}

/* line 11, ../../assets/sass/_typography.sass */
body, p, span, div {
  font-family: "Lato", sans-serif;
}

/* line 14, ../../assets/sass/_typography.sass */
h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

/* line 17, ../../assets/sass/_typography.sass */
h1 {
  font-size: 2.77778em;
  line-height: 1.08em;
}
@media (max-width: 600px) {
  /* line 17, ../../assets/sass/_typography.sass */
  h1 {
    font-size: 2.22222em;
    line-height: 1.35em;
  }
}

/* line 22, ../../assets/sass/_typography.sass */
h2 {
  font-size: 2.22222em;
  line-height: 1.35em;
}
@media (max-width: 600px) {
  /* line 22, ../../assets/sass/_typography.sass */
  h2 {
    font-size: 2em;
    line-height: 1.5em;
  }
}

/* line 27, ../../assets/sass/_typography.sass */
h3 {
  font-size: 1.66667em;
  line-height: 1.2em;
}
@media (max-width: 600px) {
  /* line 27, ../../assets/sass/_typography.sass */
  h3 {
    font-size: 1.33333em;
    line-height: 1.5em;
  }
}

/* line 32, ../../assets/sass/_typography.sass */
h4 {
  font-size: 1.33333em;
  line-height: 1.5em;
}
@media (max-width: 600px) {
  /* line 32, ../../assets/sass/_typography.sass */
  h4 {
    font-size: 1.11111em;
    line-height: 1.8em;
  }
}

@media (max-width: 600px) {
  /* line 37, ../../assets/sass/_typography.sass */
  p {
    font-size: 0.9em;
    line-height: 2.22222em;
  }
}

/* line 41, ../../assets/sass/_typography.sass */
.center-text {
  text-align: center;
}

/* line 44, ../../assets/sass/_typography.sass */
.skill-subtext {
  font-size: 8px;
  line-height: 11px;
}

/* line 49, ../../assets/sass/_typography.sass */
p.skill-header {
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 600px) {
  /* line 49, ../../assets/sass/_typography.sass */
  p.skill-header {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (max-width: 450px) {
  /* line 49, ../../assets/sass/_typography.sass */
  p.skill-header {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 340px) {
  /* line 49, ../../assets/sass/_typography.sass */
  p.skill-header {
    font-size: 12px;
    line-height: 12px;
  }
}

/* line 9, ../../assets/sass/_skill-boxes.sass */
#skill-box-1 {
  background-color: #4AA6F5;
  color: #02111e;
  -moz-transition: background-color 0.9s, -moz-transform 0.5s;
  -o-transition: background-color 0.9s, -o-transform 0.5s;
  -webkit-transition: background-color 0.9s, -webkit-transform 0.5s;
  transition: background-color 0.9s, transform 0.5s;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
}
/* line 14, ../../assets/sass/_skill-boxes.sass */
#skill-box-1:hover {
  background-color: #1d90f2;
}
@media (min-width: 600px) {
  /* line 18, ../../assets/sass/_skill-boxes.sass */
  #skill-box-1:hover div div .skill-header {
    -moz-transform:  scale(1.1, 1.1);
    -ms-transform:  scale(1.1, 1.1);
    -webkit-transform:  scale(1.1, 1.1);
    transform:  scale(1.1, 1.1);
  }
}

/* line 9, ../../assets/sass/_skill-boxes.sass */
#skill-box-2 {
  background-color: #e74c3c;
  color: #fdedec;
  -moz-transition: background-color 0.9s, -moz-transform 0.5s;
  -o-transition: background-color 0.9s, -o-transform 0.5s;
  -webkit-transition: background-color 0.9s, -webkit-transform 0.5s;
  transition: background-color 0.9s, transform 0.5s;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
/* line 14, ../../assets/sass/_skill-boxes.sass */
#skill-box-2:hover {
  background-color: #dc2d1b;
}
@media (min-width: 600px) {
  /* line 18, ../../assets/sass/_skill-boxes.sass */
  #skill-box-2:hover div div .skill-header {
    -moz-transform:  scale(1.1, 1.1);
    -ms-transform:  scale(1.1, 1.1);
    -webkit-transform:  scale(1.1, 1.1);
    transform:  scale(1.1, 1.1);
  }
}

/* line 9, ../../assets/sass/_skill-boxes.sass */
#skill-box-3 {
  background-color: #2ecc71;
  color: #05140b;
  -moz-transition: background-color 0.9s, -moz-transform 0.5s;
  -o-transition: background-color 0.9s, -o-transform 0.5s;
  -webkit-transition: background-color 0.9s, -webkit-transform 0.5s;
  transition: background-color 0.9s, transform 0.5s;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
}
/* line 14, ../../assets/sass/_skill-boxes.sass */
#skill-box-3:hover {
  background-color: #27ad60;
}
@media (min-width: 600px) {
  /* line 18, ../../assets/sass/_skill-boxes.sass */
  #skill-box-3:hover div div .skill-header {
    -moz-transform:  scale(1.1, 1.1);
    -ms-transform:  scale(1.1, 1.1);
    -webkit-transform:  scale(1.1, 1.1);
    transform:  scale(1.1, 1.1);
  }
}

/* line 9, ../../assets/sass/_skill-boxes.sass */
#skill-box-4 {
  background-color: #e67e22;
  color: #180d03;
  -moz-transition: background-color 0.9s, -moz-transform 0.5s;
  -o-transition: background-color 0.9s, -o-transform 0.5s;
  -webkit-transition: background-color 0.9s, -webkit-transform 0.5s;
  transition: background-color 0.9s, transform 0.5s;
  -moz-transform-origin: center left;
  -ms-transform-origin: center left;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
/* line 14, ../../assets/sass/_skill-boxes.sass */
#skill-box-4:hover {
  background-color: #ca6b17;
}
@media (min-width: 600px) {
  /* line 18, ../../assets/sass/_skill-boxes.sass */
  #skill-box-4:hover div div .skill-header {
    -moz-transform:  scale(1.1, 1.1);
    -ms-transform:  scale(1.1, 1.1);
    -webkit-transform:  scale(1.1, 1.1);
    transform:  scale(1.1, 1.1);
  }
}

/* line 9, ../../assets/sass/_skill-boxes.sass */
#skill-box-5 {
  background-color: #f39c12;
  color: #191001;
  -moz-transition: background-color 0.9s, -moz-transform 0.5s;
  -o-transition: background-color 0.9s, -o-transform 0.5s;
  -webkit-transition: background-color 0.9s, -webkit-transform 0.5s;
  transition: background-color 0.9s, transform 0.5s;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
/* line 14, ../../assets/sass/_skill-boxes.sass */
#skill-box-5:hover {
  background-color: #d3860b;
}
@media (min-width: 600px) {
  /* line 18, ../../assets/sass/_skill-boxes.sass */
  #skill-box-5:hover div div .skill-header {
    -moz-transform:  scale(1.1, 1.1);
    -ms-transform:  scale(1.1, 1.1);
    -webkit-transform:  scale(1.1, 1.1);
    transform:  scale(1.1, 1.1);
  }
}

/* line 9, ../../assets/sass/_skill-boxes.sass */
#skill-box-6 {
  background-color: #9b59b6;
  color: #f5eef8;
  -moz-transition: background-color 0.9s, -moz-transform 0.5s;
  -o-transition: background-color 0.9s, -o-transform 0.5s;
  -webkit-transition: background-color 0.9s, -webkit-transform 0.5s;
  transition: background-color 0.9s, transform 0.5s;
  -moz-transform-origin: center right;
  -ms-transform-origin: center right;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
/* line 14, ../../assets/sass/_skill-boxes.sass */
#skill-box-6:hover {
  background-color: #aa72c1;
}
@media (min-width: 600px) {
  /* line 18, ../../assets/sass/_skill-boxes.sass */
  #skill-box-6:hover div div .skill-header {
    -moz-transform:  scale(1.1, 1.1);
    -ms-transform:  scale(1.1, 1.1);
    -webkit-transform:  scale(1.1, 1.1);
    transform:  scale(1.1, 1.1);
  }
}

/* line 9, ../../assets/sass/_skill-boxes.sass */
#skill-box-7 {
  background-color: #34495e;
  color: #e8edf2;
  -moz-transition: background-color 0.9s, -moz-transform 0.5s;
  -o-transition: background-color 0.9s, -o-transform 0.5s;
  -webkit-transition: background-color 0.9s, -webkit-transform 0.5s;
  transition: background-color 0.9s, transform 0.5s;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}
/* line 14, ../../assets/sass/_skill-boxes.sass */
#skill-box-7:hover {
  background-color: #476481;
}
@media (min-width: 600px) {
  /* line 18, ../../assets/sass/_skill-boxes.sass */
  #skill-box-7:hover div div .skill-header {
    -moz-transform:  scale(1.1, 1.1);
    -ms-transform:  scale(1.1, 1.1);
    -webkit-transform:  scale(1.1, 1.1);
    transform:  scale(1.1, 1.1);
  }
}

/* line 9, ../../assets/sass/_skill-boxes.sass */
#skill-box-8 {
  background-color: #16a085;
  color: #e2fbf6;
  -moz-transition: background-color 0.9s, -moz-transform 0.5s;
  -o-transition: background-color 0.9s, -o-transform 0.5s;
  -webkit-transition: background-color 0.9s, -webkit-transform 0.5s;
  transition: background-color 0.9s, transform 0.5s;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
/* line 14, ../../assets/sass/_skill-boxes.sass */
#skill-box-8:hover {
  background-color: #1ccba9;
}
@media (min-width: 600px) {
  /* line 18, ../../assets/sass/_skill-boxes.sass */
  #skill-box-8:hover div div .skill-header {
    -moz-transform:  scale(1.1, 1.1);
    -ms-transform:  scale(1.1, 1.1);
    -webkit-transform:  scale(1.1, 1.1);
    transform:  scale(1.1, 1.1);
  }
}

/* line 22, ../../assets/sass/_skill-boxes.sass */
.skill-header {
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  position: relative;
  z-index: 1;
}

/* line 28, ../../assets/sass/_skill-boxes.sass */
.full-size {
  -moz-transform: scale(3, 3);
  -ms-transform: scale(3, 3);
  -webkit-transform: scale(3, 3);
  transform: scale(3, 3);
  z-index: 2;
  position: relative;
}
/* line 34, ../../assets/sass/_skill-boxes.sass */
.full-size div div .skill-header {
  font-size: 20px;
  line-height: 20px;
}
@media (max-width: 600px) {
  /* line 34, ../../assets/sass/_skill-boxes.sass */
  .full-size div div .skill-header {
    font-size: 15px;
    line-height: 16px;
  }
}
@media (max-width: 450px) {
  /* line 34, ../../assets/sass/_skill-boxes.sass */
  .full-size div div .skill-header {
    font-size: 10px;
    line-height: 10px;
  }
}
@media (max-width: 340px) {
  /* line 34, ../../assets/sass/_skill-boxes.sass */
  .full-size div div .skill-header {
    font-size: 8px;
    line-height: 8px;
  }
}
@media (max-width: 600px) {
  /* line 46, ../../assets/sass/_skill-boxes.sass */
  .full-size div div .skill-subtext {
    font-weight: 300;
    font-size: 7px;
    line-height: 7px;
  }
}
@media (max-width: 450px) {
  /* line 46, ../../assets/sass/_skill-boxes.sass */
  .full-size div div .skill-subtext {
    font-size: 6px;
    line-height: 6px;
  }
}

/* line 5, ../../assets/sass/_sprites.sass */
i {
  background: url('../img/icons-sa9056c06d4.png');
  display: inline-block;
}

/* line 10, ../../assets/sass/_sprites.sass */
.icon-twitter {
  background-position: 0 -30px;
  height: 30px;
  width: 30px;
}

/* line 10, ../../assets/sass/_sprites.sass */
.icon-github {
  background-position: 0 0;
  height: 30px;
  width: 30px;
}

/* line 14, ../../assets/sass/style.sass */
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 19, ../../assets/sass/style.sass */
#site-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
#site-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 600px) {
  /* line 19, ../../assets/sass/style.sass */
  #site-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
  #site-container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 24, ../../assets/sass/style.sass */
#intro-text {
  border-bottom-width: 0.11111em;
  border-bottom-style: solid;
  padding-bottom: 0.88889em;
}

/* line 27, ../../assets/sass/style.sass */
#skills {
  border-bottom-width: 0.11111em;
  border-bottom-style: solid;
  padding-bottom: 1.88889em;
}
/* line 29, ../../assets/sass/style.sass */
#skills .skill-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 3.33333%;
  padding-right: 3.33333%;
}
/* line 31, ../../assets/sass/style.sass */
#skills .skill-box .skill-box-content-wrap {
  display: inline-block;
  position: relative;
  width: 100%;
}
/* line 35, ../../assets/sass/style.sass */
#skills .skill-box .skill-box-content-wrap .skill-box-content {
  position: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 39, ../../assets/sass/style.sass */
#contact {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 43, ../../assets/sass/style.sass */
.enforce-aspect {
  padding-top: 100%;
}
